<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<context-param>
		<param-name>propertyFilePath</param-name>
		<param-value>~/git/config/gatorknuckle.properties</param-value>
	</context-param>
	<servlet>
		<servlet-name>WebHookServlet</servlet-name>
		<servlet-class>gator.fb.servlet.WebHookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebHookServlet</servlet-name>
		<url-pattern>/webhook</url-pattern>
	</servlet-mapping>
</web-app>
